* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background:linear-gradient(180deg, #009688 12%, #d8dbd5 12%);
  font-family: 'Roboto', sans-serif;
}

li {
  list-style-type: none;
}

/* a {
  text-decoration: none;
} */
.wrapper {
  min-width: 900px;
  max-width: 1200px;
  margin: auto;
  height: 100vh;
  padding: 20px 0;

}
img {
  width: 100%;
}
/* Sidebar */
section.sidebar {
  float: left;
  width: 30%;
  background-color: pink;
  height: 100%;
}
/* header */
.sidebar > .header, .content > .header  {
  height: 70px;
  background: #eaeaea;

}
.me , .you {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
}
.header .img-avatar {
  width: 50px;
}
.icon {
  display: flex;
  /* padding-right: 10px; */
}
.icon a {
  padding-right: 20px;
  color: #b1b1b1;
  font-size: 20px;
}

/* fine header */
/* search */
.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}
.search-ico a {
  font-size: 20px;
  color: #b1b1b1;
}
.search input {
  width: 292px;
  height: 30px;
  border: hidden;
  margin-left: 10px;
  padding-left: 10px;
}
/* fine search */
.sidebar > .alert {
  height: 90px;
  background: #8edafc;
}
.sidebar > .search {
  height: 50px;
  background: #fafafa;
}
.sidebar > .contacts {
  height: calc( 100% - 210px );
  background: blue;
  overflow-y: auto;
}
/* Contacts */
.contact-name {
  height: 80px;
  display: flex;
  background: #ffffff;
  padding-left: 10px;
  align-items: center;
  border-bottom: 1px solid #f5f5f5;
}
.img-avatar {
  width: 60px;
}
.name-avatar {
  padding-left: 10px;
}
.name-avatar h2 {
  font-size: 18px;
  color: black;
  font-weight: normal;

}
.name-avatar span {
  font-size: 15px;
  color: lightgray;
}
.img-avatar img {
  border-radius: 50%;
}
/* Fine Contacts */
/* Fine Sidebar */

/* Content */
section.content {
  float: left;
  width: 70%;
  background-color: red;
  height: 100%;
}
.content > .chat {
  height: calc( 100% - 140px );
  background-image: url(../img/mine.jpg);
  overflow-y: auto;
}
.content > .message {
  height: 70px;
  background: #f3eeea;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 10px;
}
.content > .message input {
  width: 86%;
  height: 80%;
  border-radius: 5px;
  border: none;
}
.smile {
  font-size: 20px;
  color: #85848D;
}

.plane  {
  font-size: 25px;
  color: #85848D;
}

/* Fine Content */
/* Template */
.template {
  display:none;
}
.green {
    background-color: #D5F9C4;
}
.white {
  background-color: white;
}
.message-template {
  background-color: #D5F9C4;
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}
.msg-right {
  margin-left: 463px;
}
.msg-left {
  margin-right: 463px;
}
