* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background:linear-gradient(180deg, #009688 12%, #d8dbd5 12%);
  font-family: 'Roboto', sans-serif;
}
.wrapper {
  min-width: 900px;
  width: 1170px;
  margin: auto;
  background-color: yellow;
  height: 100vh;
  /* margin-top: 20px;
  margin-bottom: 20px; */
}
img {
  width: 100%;
}
/* Sidebar */
section.sidebar {
  float: left;
  width: 30%;
  background-color: pink;
  height: 100%;
}
.sidebar > .header, .content > .header  {
  height: 70px;
  background: #eaeaea;
}
.sidebar > .alert {
  height: 90px;
  background: #8edafc;
}
.sidebar > .search {
  height: 50px;
  background: #fafafa;
}
.sidebar > .contacts {
  height: calc( 100% - 210px );
  background: blue;
  overflow-y: auto;
}
/* Contacts */
.contact-name {
  height: 80px;
  display: flex;
  background: #ffffff;
  padding-left: 10px;
  align-items: center;
  border-bottom: 1px solid gray;
}
.img-avatar {
  width: 60px;
}
.name-avatar {
  padding-left: 10px;
}
.name-avatar h2 {
  font-size: 18px;
  color: black;
  font-weight: normal;

}
.name-avatar span {
  font-size: 15px;
  color: lightgray;
}
.img-avatar img {
  border-radius: 50%;
}
/* Fine Contacts */
/* Fine Sidebar */

/* Content */
section.content {
  float: left;
  width: 70%;
  background-color: red;
  height: 100%;
}
.content > .chat {
  height: calc( 100% - 140px );
  background-image: url(../img/mine.jpg);
  overflow-y: auto;
}
.content > .message {
  height: 70px;
  background: #f3eeea;
}

/* Fine Content */
